<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../dist/js/flexible.js"></script>
  <title>整屏切换</title>
  <link rel="stylesheet" href="../dist/css/spending_bills.css"/>
  <!--<script src="../dist/js/makegrid.js"></script>-->
  <!--<script>lib.flexible.makeGridMode("750-12");</script>-->
  <script src="../dist/js/scrollfix.js"></script>
  <script src="../dist/js/spending_bills.js"></script>

</head>
<body>
<div class="swipe-wrap    " id="slip">
  <article class="swipe">
    <div class="swipe-box page1 ">
      <div class="way way-page1">
        <i class="logo"></i>
        <h4><span>2015</span><span>-</span><span>2016</span><span class="di" style="width: 5px"></span><span>学年度第二学期</span></h4>
        <h4 class="pos-title">一卡通消费账单总表</h4>
        <div class="echart-bg">
          <div class="echart"></div>
        </div>
        <div class="ward-common downward"></div>
        </div>
    </div>
    <div class="swipe-box page2 ">
      <div class="way way-page2">
        <h4>食堂消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期食堂消费总金额</p>
          <p></p>
          <p class="di pos">超过</p><h6 class="di cor-orange">86.2%</h6>
          <p class="pos">的在校同学</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble1">

          <div class="tc">
            <div class="db mar zhu1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu1.png"/>-->
            <p><i class="circle-decoration di"></i>本学期食堂</p>
            <p>消费总金额</p>
            <h5 class="di">4,032</h5>
            <p class="di">元</p>
          </div>
        </div>
        <div class="bubble dn bubble2">
          <div class="tc">
            <div class="db mar he1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-he1.png"/>-->
            <p><i class="circle-decoration di"></i>光顾次数</p>
            <p>最多的食堂</p>
            <h5 class="di">第一食堂</h5>
          </div>
        </div>
        <div class="bubble dn bubble3">
          <div class="tc">
            <div class="db mar biao1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao1.png"/>-->
            <p><i class="circle-decoration di"></i>本学期食堂</p>
            <p>消费总次数</p>
            <h5 class="di">832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page3 ">
      <div class="way way-page3">
        <h4>超市消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期超市消费总金额</p>
          <p></p>
          <p class="di pos">超过</p><h6 class="di cor-green">86.2%</h6>
          <p class="pos">的在校同学</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-green bubble4">

          <div class="tc">
            <div class="db mar zhu2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu2.png"/>-->
            <p><i class="circle-decoration di"></i>本学期超市</p>
            <p>消费总金额</p>
            <h5 class="di">14,032</h5>
            <p class="di">元</p>
          </div>
        </div>

        <div class="bubble dn bubble-green bubble5">
          <div class="tc">
            <div class="db mar biao2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao2.png"/>-->
            <p><i class="circle-decoration di"></i>本学期超市</p>
            <p>消费总次数</p>
            <h5 class="di">1,832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page4 ">
      <div class="way way-page4">
        <h4>医院消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期医院消费总金额</p>
          <p></p>
          <p class="di pos">超过</p><h6 class="di cor-blue">86.2%</h6>
          <p class="pos">的在校同学</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-blue bubble4">

          <div class="tc">
            <div class="db mar zhu3 icon-60"></div>
            <p><i class="circle-decoration di"></i>本学期医院</p>
            <p>消费总金额</p>
            <h5 class="di">14,032</h5>
            <p class="di">元</p>
          </div>
        </div>

        <div class="bubble dn bubble-blue bubble5">
          <div class="tc">
            <div class="db mar biao3 icon-60"></div>
            <p><i class="circle-decoration di"></i>本学期医院</p>
            <p>消费总次数</p>
            <h5 class="di">1,832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>

    </div>
    <div class="swipe-box page5 ">
      <div class="way way-page5">
        <h4>用水消费情况</h4>
        <div class="talk-page1 ">
          <p class="line-h2">本学期用水总计</p>
          <p class="di"></p><h6 class="di cor-orange">40</h6>
          <p class="di line-h2">吨</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-orange bubble4">

          <div class="tc">
            <div class="db mar zhu1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu1.png"/>-->
            <p><i class="circle-decoration di"></i>本学期用水</p>
            <p>消费总金额</p>
            <h5 class="di">14,032</h5>
            <p class="di">元</p>
          </div>
        </div>

        <div class="bubble dn bubble-orange bubble5">
          <div class="tc">
            <div class="db mar biao1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao1.png"/>-->
            <p><i class="circle-decoration di"></i>基于全校</p>
            <p>平均消费的前</p>
            <p class="di"></p><h5 class="di">99.5%</h5>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page6 ">
      <div class="way way-page6">
        <h4>宿舍用电消费情况</h4>
        <div class="talk-page1 ">
          <p class="line-h2">本学期用电总计</p>
          <p class="di"></p><h6 class="di cor-green">1,526</h6>
          <p class="di line-h2">kwh</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-green bubble4">

          <div class="tc">
            <div class="db mar zhu2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu2.png"/>-->
            <p><i class="circle-decoration di"></i>相当于进行了</p>
            <p>冰桶挑战</p>
            <h5 class="di">4,032</h5>
            <p class="di">次</p>
          </div>
        </div>

        <div class="bubble dn bubble-green bubble5">
          <div class="tc">
            <div class="db mar biao2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao2.png"/>-->
            <p><i class="circle-decoration di"></i>相当于一盏</p>
            <p>路灯持续点亮</p>
            <h5 class="di">32,582</h5>
            <p class="di">小时</p>
          </div>
        </div>
        <div class=" upward">
          <div class="ward-common"></div><span>返回顶部</span>
        </div>
        <div class="copyright">
          <p>版权所有：北京希嘉创智教育科技有限公司</p>
        </div>
      </div>
    </div>
  </article>
</div>

</body>
</html>

<script src="../dist/js/echarts.min.js"></script>
<script>
  //  alert(window.devicePixelRatio);
</script>

<script>
  var talkPage1 = document.getElementsByClassName('talk-page1');
  for (var k in talkPage1) {
    var p = talkPage1[k].firstElementChild;
    if (p) {
      var l = p.offsetLeft;
//     console.log(l);
      if (l > 0) {
        var posP = talkPage1[k].getElementsByClassName('pos');
        for (var t = 0; t < posP.length; t++) {
          posP[t].style.position = 'absolute';
          posP[t].style.left = l + 'px';
        }
      }

    }


  }
</script>
<script type="text/javascript">
  var container = document.getElementById('slip');
  var pages = document.querySelectorAll('.swipe-box');
  var slip = Slip(container, 'y').webapp(pages);
  var $swipeBox=$('.swipe-box');
  document.addEventListener('touchend', function () {
    var h = $swipeBox.height();
    $swipeBox.data['no'] = $('#slip').attr('y') / h * -1 + 1;

//    if ($swipeBox.data['old-no']!=$swipeBox.data['no']) {
      var no=$swipeBox.data['no'];
      if(no>1){
//        $swipeBox.find('.car').removeAttr('id', 'mymove').find('.bubble').removeAttr('id', 'myrotate').addClass('dn').find('.talk-page1').removeAttr('id', 'myshow');
//        $swipeBox.data['old-no']=$swipeBox.data['no'];
        setTimeout(function () {
//          $swipeBox.find('.car').removeAttr('id', 'mymove');
          $('.page' + no).find('.car').attr('id', 'mymove');
        }, 500);
        setTimeout(function () {
//          $swipeBox.find('.talk-page1').removeAttr('id', 'myshow');
          $('.page' + no).find('.talk-page1').each(function () {
            $(this).attr('id', 'myshow');
          })
        }, 2500);
        setTimeout(function () {
//          $swipeBox.find('.bubble').removeAttr('id', 'myrotate').addClass('dn');
          $('.page' + no).find('.bubble').attr('id', 'myrotate').removeClass('dn');
        }, 4000);
      }else if(no==1){
//        setTimeout(addChart,500)
      }
//    }
  })
</script>

<script>
  option = {
    color:['#9f409b','#ee207b','#f6af00','#729938','#1982b7'],
    tooltip: {
      trigger: 'item',
      formatter: "{a} <br/>{b}: {c}元 ({d}%)"
    },
    // legend: {
    //     orient: 'vertical',
    //     x: 'left',
    //     data:['直达','营销广告','搜索引擎','视频广告','百度']
    // },
    series: [
      {
        name:'一卡通消费情况',
        type:'pie',
        // selectedMode: 'single',
        radius: [0, '70%'],
        labelLine: {
          normal: {
            show: false
          }
        },
        label: {
          normal: {
            formatter: "   {b}:   \n({d}%)",
            position:'inner',
          }
        },
        minAngle:72,
        data:[
          {value:16, name:'用电', selected:true},
          {value:14, name:'用水'},
          {value:22, name:'医院'},
          {value:48, name:'超市'},
          {value:30, name:'食堂'},
        ]
      },
    ]
  };
  function addChart() {
    var myChart1 = echarts.init($('.echart')[0]);
    myChart1.setOption(option);
  }
  setTimeout(addChart,500)
</script>