<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../dist/js/flexible.js"></script>
  <title>消费报告-老师版</title>
  <link rel="stylesheet" href="../dist/css/spending_bills.min.css"/>
</head>
<body>
<div class="swipe-wrap" id="slip">
  <article class="swipe">
    <div id="page1" class="swipe-box page1 ">
      <div class="way way-page1">
        <i class="logo fl"></i>
        <div class="fr icon-date-wrap">
          <span class="icon-date-text">第二学期</span><i class="icon-date"></i>
        </div>
        <form accept-charset="UTF-8" action="" data-remote="true" method="post">
          <ul class="date-bg dn">
            <li><a>2016年1月</a></li>
            <li><a>2016年2月</a></li>
            <li><a>2016年3月</a></li>
            <li><a>2016年4月</a></li>
            <li><a>2016年5月</a></li>
            <li><a>2016年6月</a></li>
            <li><a>2016年7月</a></li>
            <li><a>2016年8月</a></li>
            <li><a>2016年9月</a></li>
            <li><a>2016年10月</a></li>
            <li><a>2016年11月</a></li>
            <li><a>2016年12月</a></li>
            <li class="term"><a>第一学期</a></li>
            <li class="term active"><a>第二学期</a></li>
            <li class="term"><a>第三学期</a></li>
            <li class="term"><a>第四学期</a></li>
          </ul>
        </form>
        <i class="cb db"></i>
        <h4>
          <div class="term-wrap">
            <span>2015</span><span>-</span><span>2016</span><span class="di"
                                                                  style="width: 5px"></span><span>学年度</span><span>第二学期</span>
          </div>
          <div class="month-wrap dn">
            <span>2016年2月</span>
          </div>
        </h4>
        <h4 class="pos-title">一卡通消费账单总表</h4>
        <h5 class="pos-title t2">总消费金额<span>20000.00</span>元</h5>
        <div class="echart-bg">
          <div class="echart"></div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page2 ">
      <div class="way way-page2">
        <h4>食堂消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期食堂消费总金额</p>
          <p></p>
          <p class="di pos lh-2">超过</p><h6 class="di cor-orange">86.2%</h6>
          <p class="pos">的在校老师</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble1">

          <div class="tc">
            <div class="db mar zhu1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu1.png"/>-->
            <p><i class="circle-decoration di"></i>本学期食堂</p>
            <p>消费总金额</p>
            <h5 class="di">4,032</h5>
            <p class="di">元</p>
          </div>
        </div>
        <div class="bubble dn bubble2">
          <div class="tc">
            <div class="db mar he1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-he1.png"/>-->
            <p><i class="circle-decoration di"></i>您光顾次数</p>
            <p>最多的食堂</p>
            <h5 class="di">第一食堂</h5>
          </div>
        </div>
        <div class="bubble dn bubble3">
          <div class="tc">
            <div class="db mar biao1 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao1.png"/>-->
            <p><i class="circle-decoration di"></i>本学期食堂</p>
            <p>消费总次数</p>
            <h5 class="di">832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page3 ">
      <div class="way way-page3">
        <h4>超市消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期超市消费总金额</p>
          <p></p>
          <p class="di pos lh-2">超过</p><h6 class="di cor-green">86.2%</h6>
          <p class="pos">的在校老师</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-green bubble4">

          <div class="tc">
            <div class="db mar zhu2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-zhu2.png"/>-->
            <p><i class="circle-decoration di"></i>本学期超市</p>
            <p>消费总金额</p>
            <h5 class="di">14,032</h5>
            <p class="di">元</p>
          </div>
        </div>

        <div class="bubble dn bubble-green bubble5">
          <div class="tc">
            <div class="db mar biao2 icon-60"></div>
            <!--<img class="db mar" src="../assest/images/icon-biao2.png"/>-->
            <p><i class="circle-decoration di"></i>本学期超市</p>
            <p>消费总次数</p>
            <h5 class="di">1,832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page4 ">
      <div class="way way-page4">
        <h4>医院消费情况</h4>
        <div class="talk-page1">
          <p class="di">本学期医院消费总金额</p>
          <p></p>
          <p class="di pos lh-2">超过</p><h6 class="di cor-blue">86.2%</h6>
          <p class="pos">的在校老师</p>
        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="car car-page1"></div>
        <!--<div class="car car-page1-2"></div>-->
        <div class="bubble dn bubble-blue bubble4">

          <div class="tc">
            <div class="db mar zhu3 icon-60"></div>
            <p><i class="circle-decoration di"></i>本学期医院</p>
            <p>消费总金额</p>
            <h5 class="di">14,032</h5>
            <p class="di">元</p>
          </div>
        </div>

        <div class="bubble dn bubble-blue bubble5">
          <div class="tc">
            <div class="db mar biao3 icon-60"></div>
            <p><i class="circle-decoration di"></i>本学期医院</p>
            <p>消费总次数</p>
            <h5 class="di">1,832</h5>
            <p class="di">次</p>
          </div>
        </div>
        <div class="ward-common downward"></div>
      </div>

    </div>
    <div class="swipe-box page5 ">
      <div class="way way-page5">
        <h4>充值情况</h4>
        <div class="talk-page2 ">
          <!--<p class="line-h2">本学期用水总计</p>-->
          <div class="talk-page22">
            <div class="talk-head">
              <p class="lh-2">本学期您充值总金额超过</p>
              <p class="di"></p><h5 class="di">86%</h5>
              <p class="di">的在校老师</p>
            </div>
            <div class="talk-body">
              <div class="p15">
                <div class="di mar zhu2 icon-26"></div>
                <p class="di">本学期您充值总金额</p>
                <p></p>
                <h5 class="di">4000</h5>
                <p class="di">元</p>
              </div>
              <div class="p20">
                <div class="di mar biao2 icon-26"></div>
                <p class="di">本学期您充值总次数</p>
                <p></p>
                <h5 class="di ">364</h5>
                <p class="di">次</p>
              </div>
              <div class="p20">
                <div class="di mar qian2 icon-26"></div>
                <p class="di">本学期您最常光顾的圈存机</p>
                <p></p>
                <h5 class="di fs-2 ">自助多媒体</h5>
              </div>
            </div>
          </div>

        </div>
        <!--<img src="../assest/images/bg-page2.png" class="bg-page1" alt="">-->
        <div class="ward-common downward"></div>
      </div>
    </div>
    <div class="swipe-box page6 ">
      <div class="way way-page6">
        <h4>账单小计</h4>
        <div class="talk-page2 ">
          <!--<p class="line-h2">本学期用水总计</p>-->
          <div class="talk-page22 pg-2">
            <div class="talk-head">
              <p class="lh-2">您四年总消费金额</p>
              <p class="di"></p><h5 class="di cor-blue">23513.00</h5>
              <p class="di">元</p>
            </div>
            <div class="talk-body">
              <div class="p10">
                <div class="di mar biao3 icon-26"></div>
                <p class="di">您第一次消费地点</p>
                <p></p>
                <h5 class="cor-blue o-point">佳佳乐超市佳佳乐超市佳佳乐超市佳佳乐超市</h5>
              </div>
              <div style="position: absolute;left: 0">
                <div class="echart2"></div>
              </div>
            </div>
          </div>

        </div>
        <div class=" upward">
          <div class="ward-common"></div>
          <span>到底了</span>
        </div>
        <div class="copyright">
          <p>版权所有：sageLiu</p>
        </div>
      </div>
    </div>
  </article>
</div>
</body>
<script src="../dist/js/zepto.js"></script>
<script src="../dist/js/slip.min.js"></script>
<script src="../dist/js/echarts.min.js"></script>
<script>
  var talkPage1 = document.getElementsByClassName('talk-page1');
  for (var k in talkPage1) {
    var p = talkPage1[k].firstElementChild;
    if (p) {
      var l = p.offsetLeft;
//     console.log(l);
      if (l > 0) {
        var posP = talkPage1[k].getElementsByClassName('pos');
        for (var t = 0; t < posP.length; t++) {
          posP[t].style.position = 'absolute';
          posP[t].style.left = l + 'px';
        }
      }

    }


  }
</script>
<script type="text/javascript">
  var container = document.getElementById('slip');
  var pages = document.querySelectorAll('.swipe-box');
  var slip = Slip(container, 'y').webapp(pages);
  var $swipeBox = $('.swipe-box');
  var num = 0;
  document.addEventListener('touchend', function () {
    var h = $swipeBox.height();
    $swipeBox.data['no'] = $('#slip').attr('y') / h * -1 + 1;
//    if ($swipeBox.data['old-no']!=$swipeBox.data['no']) {
    var no = $swipeBox.data['no'];

    console.log(no);
    if (no > 1 && no < 5) {
      $('.date-bg').addClass('dn');
//        $swipeBox.find('.car').removeAttr('id', 'mymove').find('.bubble').removeAttr('id', 'myrotate').addClass('dn').find('.talk-page1').removeAttr('id', 'myshow');
//        $swipeBox.data['old-no']=$swipeBox.data['no'];
      setTimeout(function () {
//          $swipeBox.find('.car').removeAttr('id', 'mymove');
        $('.page' + no).find('.car').attr('id', 'mymove');
      }, 500);
      setTimeout(function () {
//          $swipeBox.find('.talk-page1').removeAttr('id', 'myshow');
        $('.page' + no).find('.talk-page1').each(function () {
          $(this).attr('id', 'myshow');
        })
      }, 600);
      setTimeout(function () {
//          $swipeBox.find('.bubble').removeAttr('id', 'myrotate').addClass('dn');
        $('.page' + no).find('.bubble').attr('id', 'myrotate').removeClass('dn');
      }, 600);
    } else if (no == 6 && num == 0) {
      num = 1;
      setTimeout(addChart2, 500);
    }
//    }
  });
</script>

<script>
  //这个data1是需要后台同学替换的数据
  var data1 = [
//    {value: 10, name: '用电', percent: '10%'},
//    {value: 10, name: '用水', percent: '10%'},
    {value: 20, name: '医院', percent: '20%'},
    {value: 30, name: '超市', percent: '30%'},
    {value: 30, name: '食堂', percent: '30%'},
  ];

  var option = {
    color: ['#9f409b', '#ee207b', '#f6af00', '#729938', '#1982b7'],
    tooltip: {
      trigger: 'item',
      formatter: function (params) {
        var index = params.dataIndex;
        return data1[index].name + ':' + data1[index].value + "元\n" + data1[index].percent
      },

    },
    // legend: {
    //     orient: 'vertical',
    //     x: 'left',
    //     data:['直达','营销广告','搜索引擎','视频广告','百度']
    // },
    series: [
      {
        name: '一卡通消费情况',
        type: 'pie',
        selectedMode: 'single',
        radius: [0, '70%'],
        labelLine: {
          normal: {
            show: false
          }
        },
        label: {
          normal: {
            // formatter: "   {b}:   \n({d}%)",
            formatter: function (params) {
              var index = params.dataIndex;
              return data1[index].name + ':' + data1[index].value + "元\n" + data1[index].percent
            },
            position: 'inner',
          }
        },
        minAngle: 72,
        data: [
//          {value: 1, name: '用电'},
//          {value: 1, name: '用水'},
          {value: 1, name: '医院', selected: 'true'},
          {value: 1, name: '超市'},
          {value: 1, name: '食堂'},
        ]
      },
    ]
  };
  var option2 = {
    title: {
      show: false,
      text: '账单小计',
    },
    tooltip: {
      trigger: 'axis'
    },
    grid: {
      left: 40,
      right: 25,
      top: 32,
      bottom: 32,
    },
    legend: {
      data: ['我的消费', '全校老师平均消费'],
      left: 'right',
//      itemWidth: 16,
//      itemHeight: 14,
      itemGap: 5,
    },
    tooltip: {
      formatter: '{b0}年</br>{a0}:{c0}元'
    },
    xAxis: {
      name: '年',
      nameGap: 2,
//      nameLocation :'middle',
      type: 'category',
      //boundaryGap: false,
      data: ['2012', '2013', '2014', '2015', '2016'],
      symbol: 'pin',
      symbolSize: 44,
      axisLabel: {
        show: true,
        interval: 0,
//        rotate:45,
      },
    },
    yAxis: {
      name: '金额(元)',
      type: 'value',
      axisLabel: {
        formatter: '{value} '
      }
    },
    series: [
      {
        name: '我的消费',
        type: 'line',
        data: [110, 150, 136, 163, 190],
//        markPoint: {
//          data: [
//            {type: 'max', name: '最大值'},
//            {type: 'min', name: '最小值'}
//          ]
//        },
        hoverAnimation: false,
        silent: true,
        // markLine: {
        //   data: [
        //     {type: 'average', name: '全校老师平均消费'}
        //   ]
        // }
      }, {
        name: '全校老师平均消费',
        type: 'line',
        data: [121, 121, 121, 121, 121],
        hoverAnimation: false,
        silent: true,//不触发鼠标的点击事件，默认false
        lineStyle: {
          normal: {
            color: 'transparent',
            width: 0,
          }
        },
        // markPoint: {
        //     data: [
        //         {type: 'max', name: '最大值'},
        //         {type: 'min', name: '最小值'}
        //     ]
        // },
        markLine: {
          data: [
            {type: 'average', name: '全校老师平均消费'}
          ]
        }
      },

    ]
  };

  function addChart() {
    var myChart1 = echarts.init($('.echart')[0]);
    myChart1.setOption(option);
  }
  function addChart2() {
    var myChart2 = echarts.init($('.echart2')[0]);
    myChart2.setOption(option2);
    num = 1;
  }
  setTimeout(addChart, 500);
  //  setTimeout(addChart2, 500);
  //  var h=$(window).height();
  //  var p=h*window.devicePixelRatio*window.devicePixelRatio/1334/2/2;
  //  $('.bubble').css({'transform':'scale('+p+')','-webkit-transform':'scale('+p+')'});
</script>
<script>
  $('.icon-date-wrap')[0].addEventListener('touchend',function () {
    $('.date-bg').toggleClass('dn');

  })
  $('.date-bg').find('li').each(function () {
    $(this)[0].addEventListener('click', function () {
      $('.date-bg').addClass('dn');
      $(this).siblings('li').removeClass('active');
      $(this).addClass('active');
      $('.icon-date-text').text($(this).text());

      if ($(this).hasClass('term')) {
        $('.month-wrap').addClass('dn').find('span').last().text($(this).text());
        $('.term-wrap').removeClass('dn').find('span').last().text($(this).text());
      } else {
        $('.term-wrap').addClass('dn').find('span').last().text($(this).text());
        $('.month-wrap').removeClass('dn').find('span').last().text($(this).text());
      }

      setTimeout(addChart, 500);
    })
  });
</script>
</html>